{% extends "reporting/reporting_base.html" %}
{% load render_table from django_tables2 %}
{% load svg %}
{% load extras %}


{% block content %}
<h2>{{ encampment.name }}</h2>
<!-- TODO: get url for google maps right -->
<a href="https://www.google.com/maps/dir/lat={{ object.location_geom.x }}">Get Directions</a>
<div class="infopanel">
    <div class="infonugget">
        <div class="infonugget-icon grey">{% svg 'calendar' %}</div>
        <div class="infonugget-stat">{{ visits|length }}</div>
        <div class="infonugget-description"> Total Visits</div>
    </div>
    <div class="infonugget">
        <div class="infonugget-icon red">{% svg 'clock' %}</div>
        <div class="infonugget-stat">{{ days_since_last|default:"Never Visited"}}</div>
        <div class="infonugget-description">days since last visit</div>
    </div>
    <div class="infonugget">
        <div class="infonugget-icon grey">{% svg 'warning' %}</div>
        <div class="infonugget-stat">{{ open_tasks|length }}</div>
        <div class="infonugget-description">open tasks</div>
    </div>
</div>

<div class="main-panel">
    <div class="visit-panel">
        <div class="most-recent visits">
            <div class="visits-header">
                Most Recent Visit
            </div>
            <div class="visits-content">
                {% with visits|first as most_recent %}
                {% if most_recent %}
                <div class="date-bar">
                    <div>{{ most_recent.date }}</div>
                    <div class="spacer"></div>
                    <div>{{ most_recent.date | ago }}</div>
                </div>
                <div class="performed-by">
                    {{ most_recent.performed_by }}
                </div>

                <div class="visit-info">
                    <h2>Status</h2>
                    <div class="spacer"></div>
                    <div class="visit-detail">
                        <h3>Type of setup</h3>
                        <p>{{ most_recent.type_of_setup }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Living here</h3>
                        <p>{{ most_recent.occupancy.lower }} - {{ most_recent.occupancy.upper }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Talked to</h3>
                        <p>{{ most_recent.talked_to }}</p>
                    </div>
                </div>
                <div class="visit-info">
                    <h2>Deliveries</h2>
                    <div class="spacer"></div>
                    <div class="visit-detail">
                        <h3>Supplies Delivered</h3>
                        <p>{{ most_recent.supplies_delivered }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Food Delivered</h3>
                        <p>{{ most_recent.food_delivered }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Talked to</h3>
                        <p>{{ most_recent.talked_to }}</p>
                    </div>
                </div>
                <div class="visit-info">
                    <h2>Covid</h2>
                    <div class="spacer"></div>
                    <div class="visit-detail">
                        <h3>Education</h3>
                        <p>{{ most_recent.education_provided }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Assessed</h3>
                        <p>{{ most_recent.assessed }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Asymptomatic</h3>
                        <p>{{ most_recent.assessed_asymptomatic }}</p>
                    </div>
                </div>
                <div class="visit-info">
                    <h2>Actions</h2>
                    <div class="spacer"></div>
                    <div class="visit-detail">
                        <h3>Outstanding Needs</h3>
                        <p>{{ most_recent.needs }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Notes / next steps</h3>
                        <p>{{ most_recent.notes }}</p>
                    </div>
                </div>

                {% else %}
                This encampment has never been visited
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <br/>
        <div class="previous visits">
            <div class="visits-header">
                Previous Visits
            </div>
            <div class="visits-content">
                {% for visit in visits|slice:"1:" %}
                <div class="previous-visit">
                    <div class="date">{{ visit.date }}</div>
                    <div class="spacer"></div>
                    <div class="date-ago">{{ visit.date | ago }}</div>
                    <div class="spacer"></div>
                    <div class="performed-by">{{ visit.performed_by }}</div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="tasks">
        <div class="header">
            <div>Tasks</div>
        </div>
        <div class="form">
            <form method="post" action={% url
            'task-create' %}>{% csrf_token %}
            {{ task_form.as_p }}
            <input type="submit" value="Save new task">
            </form>
        </div>
        {% for task in open_tasks|slice:":3" %}
        <div class="task open">
            <h3>{{ task.title }}</h3>
            <p>{{ task.details }}</p>
            <form method="post" action={% url
            'task-complete' pk=task.id %}>{% csrf_token %}
            <input type="submit" value="Mark task completed">
            </form>
        </div>
        {% endfor %}

        {{ completed_tasks | length }} completed tasks

        {% for task in completed_tasks %}
        <div class="task closed">
            <h3>{{ task.title }}</h3>
            <p>{{ task.details }}</p>
        </div>
        {% endfor %}


    </div>

</div>


{% endblock %}
