{% extends "reporting/reporting_base.html" %}
{% load render_table from django_tables2 %}
{% load svg %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div class="infopanel">
<div class="infonugget">
  <div class="infonugget-icon red">{% svg 'clock' %}</div>
  <div class="infonugget-stat">{{ not_visited_14 }}</div>
  <div class="infonugget-description">encampments not visited<br> in the last 14 days</div>
</div>
    <div class="infonugget">
        <!-- TODO: context aware coloring -->
        <div class="infonugget-icon orange">{% svg 'tick' %}</div>
        <div class="infonugget-stat">{{ pending_tasks }}</div>
        <div class="infonugget-description">tasks pending</div>
    </div>
<div class="infonugget">
  <div class="infonugget-icon grey">{% svg 'calendar' %}</div>
  <div class="infonugget-stat">{{ visits_7 }}</div>
  <div class="infonugget-description"> visits in last<br> 7 days</div>
</div>
<div class="infonugget">
  <div class="infonugget-icon grey">{% svg 'calendar' %}</div>
  <div class="infonugget-stat">{{ visits_31 }}</div>
  <div class="infonugget-description">visits in last<br> 31 days</div>
</div>
</div>
<div class="container">
    <ul class="table-nav">
      <li class="{% if nav_context == '' %}active{% endif %}"><a href="{% url 'encampment-list' %}">All Encampments</a></li>
      <li class="{% if nav_context == delayed %}active{% endif %}"><a href="{% url 'encampment-list-filtered' 'delayed' %}">Not Visited <span class="nav-count">3</span></a></li>
      <li class="{% if nav_context == tasked %}active{% endif %}"><a href="{% url 'encampment-list-filtered' 'tasked' %}">Tasks <span class="nav-count">{{pending_tasks}}</span></a></li>
      {% for region in regions %}
        <li class="{% if nav_context == region.slug %}active{% endif %}"><a href="{{region.get_absolute_url}}">{{region.name}}</a></li>
      {% endfor %}
    </ul>
    <div class="datatable">
     {% render_table table %}
    </div>
</div>
{% endblock %}
