{% extends "reporting/reporting_base.html" %}
{% load render_table from django_tables2 %}
{% load svg %}


{% block content %}
<div class="infopanel">
<div class="infonugget">
  <div class="infonugget-icon red">{% svg 'clock' %}</div>
  <div class="infonugget-stat">{{ not_visited_14 }}</div>
  <div class="infonugget-description">encampments not visited<br> in the last 14 days</div>
</div>
    <div class="infonugget">
        <!-- TODO: context aware coloring -->
        <div class="infonugget-icon orange">{% svg 'tick' %}</div>
        <div class="infonugget-stat">{{ pending_tasks }}</div>
        <div class="infonugget-description">tasks pending</div>
    </div>
<div class="infonugget">
  <div class="infonugget-icon grey">{% svg 'calendar' %}</div>
  <div class="infonugget-stat">{{ visits_7 }}</div>
  <div class="infonugget-description"> visits in last<br> 7 days</div>
</div>
<div class="infonugget">
  <div class="infonugget-icon grey">{% svg 'calendar' %}</div>
  <div class="infonugget-stat">{{ visits_31 }}</div>
  <div class="infonugget-description">visits in last<br> 31 days</div>
</div>
</div>
<div class="container">
    <div class="datatable">
     {% render_table table %}
    </div>
</div>
{% endblock %}
