{% extends "reporting/reporting_base.html" %}
{% load render_table from django_tables2 %}
{% load svg %}


{% block content %}
<div class="page-header">
    <h2>{{ encampment.name }}</h2>
    <!-- TODO: get url for google maps right -->
    <a class="button" href="https://www.google.com/maps/dir/lat={{ object.location_geom.x }}">Get Directions</a>
</div>
<div class="infopanel">
    <div class="infonugget">
        <div class="infonugget-icon grey">{% svg 'calendar' %}</div>
        <div class="infonugget-stat">{{ visits|length }}</div>
        <div class="infonugget-description"> Total Visits</div>
    </div>
    {% if days_since_last %}
    <div class="infonugget">
        <div class="infonugget-icon red">{% svg 'clock' %}</div>
        <div class="infonugget-stat">{{ days_since_last|default:"Never Visited"}}</div>
        <div class="infonugget-description">days since last visit</div>
    </div>
    {% endif %}
    <div class="infonugget">
        <div class="infonugget-icon grey">{% svg 'warning' %}</div>
        <div class="infonugget-stat">{{ open_tasks|length }}</div>
        <div class="infonugget-description">open tasks</div>
    </div>
</div>

<div class="main-panel">
    <div class="visit-panel">
        <div class="most-recent visits">
            <div class="visits-header">
                Most Recent Visit
            </div>
            <div class="visits-content">
                {% with visits|first as most_recent %}
                {% if most_recent %}
                Most Recent visit performed {{ most_recent.date }} by {{ most_recent.performed_by.name }}
                <br />
                Living Here: {{ most_recent.occupancy.lower }} - {{ most_recent.occupancy.upper }}. Talked to: {{ most_recent.talked_to }}
                <br />

                <h3>Deliveries: </h3>
                Supplies: {{ most_recent.supplies_delivered }}
                <br>
                Food: {{ most_recent.food_delivered }}

                <h3>Covid</h3>
                Assessed: {{ most_recent.assessed }}

                Without symptoms: {{ most_recent.assessed_asymptomatic }}

                <h3>Actions Required</h3>
                {{ most_recent.needs }}

                <h3>Notes</h3>
                {{ most_recent.notes }}
                {% else %}
                This encampment has never been visited
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <br />
       <div class="previous visits" >
           <div class="visits-header">
               Previous Visits
           </div>
           <div class="visits-content">
                <ul>
                     {% for visit in visits|slice:"1:" %}
                     <li>{{ visit.performed_by.name }} {{ visit.date }}</li>
                     {% endfor %}
                 </ul>
           </div>
       </div>

    </div>
    <div class="tasks">
        <div class="header">
            <div>Tasks</div>
        </div>
        <div class="form">
            <form method="post" action={% url 'task-create' %}>{% csrf_token %}
                {{ task_form.as_p }}
                <input type="submit" value="Save new task">
            </form>
        </div>
        {% for task in open_tasks|slice:":3" %}
            <div class="task open">
                <h3>{{ task.title }}</h3>
                <p>{{ task.details }}</p>
                <form method="post" action={% url 'task-complete' pk=task.id %}>{% csrf_token %}
                <input type="submit" value="Mark task completed">
                </form>
            </div>
        {% endfor %}

        {{ completed_tasks | length }} completed tasks.


    </div>

</div>


{% endblock %}
