{% extends "reporting/reporting_base.html" %}
{% load render_table from django_tables2 %}
{% load svg %}
{% load extras %}


{% block content %}
<div class="detail-panel">
    <h2>{{ encampment.name }}</h2>
    <!-- TODO: get url for google maps right -->
    <a class="button" href="https://www.google.com/maps/search/?api=1&query={{ object.location_geom.y }},{{object.location_geom.x}}">Get Directions</a>
</div>

<div class="infopanel">
    <div class="infonugget">
        <div class="infonugget-icon grey">{% svg 'calendar' %}</div>
        <div class="infonugget-stat">{{ visits|length }}</div>
        <div class="infonugget-description"> Total Visits</div>
    </div>
    {% if days_since_last_visit %}
    <div class="infonugget">
        <div class="infonugget-icon red">{% svg 'clock' %}</div>
        <div class="infonugget-stat">{{ days_since_last|default:"Never Visited"}}</div>
        <div class="infonugget-description">days since last visit</div>
    </div>
    {% endif %}
    <div class="infonugget">
        <div class="infonugget-icon grey">{% svg 'warning' %}</div>
        <div class="infonugget-stat">{{ open_tasks|length }}</div>
        <div class="infonugget-description">open tasks</div>
    </div>
</div>

<div class="main-panel">
    <div class="visit-panel">
        {% with visits|first as most_recent %}
        {% if most_recent %}
        <div class="most-recent visits">
            <div class="visits-header">
                Most Recent Visit
            </div>
            <div class="visits-content">
                <div class="date-bar">
                    <div>{{ most_recent.date }}</div>
                    <div class="spacer"></div>
                    <div>{{ most_recent.date | ago }}</div>
                    <div class="spacer"></div>
                </div>
                <div class="performed-by">

                    <div>{{ most_recent.performed_by }}</div>
                </div>

                <div class="visit-info">
                    <h2>Status</h2>
                    <div class="spacer"></div>
                    <div class="visit-detail">
                        <h3>Type of setup</h3>
                        <p>{{ most_recent.type_of_setup }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Living here</h3>
                        <p>{{ most_recent.get_occupancy_display }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Talked to</h3>
                        <p>{{ most_recent.talked_to }}</p>
                    </div>
                </div>
                {% if most_recent.supplies_delivered or most_recent.food_delivered %}
                <div class="visit-info">
                    <h2>Deliveries</h2>
                    <div class="spacer"></div>
                    {% if most_recent.supplies_delivered %}
                    <div class="visit-detail">
                        <h3>Supplies Delivered</h3>
                        <p>{{ most_recent.supplies_delivered }}</p>
                    </div>
                    {% endif %}
                    {% if most_recent.food_delivered %}
                    <div class="visit-detail">
                        <h3>Food Delivered</h3>
                        <p>{{ most_recent.food_delivered }}</p>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="visit-info">
                    <h2>Covid</h2>
                    <div class="spacer"></div>
                    <div class="visit-detail">
                        <h3>Education</h3>
                        <p>{{ most_recent.education_provided }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Assessed</h3>
                        <p>{{ most_recent.assessed }}</p>
                    </div>
                    <div class="visit-detail">
                        <h3>Asymptomatic</h3>
                        <p>{{ most_recent.assessed_asymptomatic }}</p>
                    </div>
                </div>
                {% if most_recent.needs or most_recent.notes %}
                <div class="visit-info">
                    <h2>Actions</h2>
                    <div class="spacer"></div>
                    {% if most_recent.needs %}
                    <div class="visit-detail">
                        <h3>Outstanding Needs</h3>
                        <p>{{ most_recent.needs }}</p>
                    </div>
                    {% endif %}
                    {% if most_recent.notes %}
                    <div class="visit-detail">
                        <h3>Notes / next steps</h3>
                        <p>{{ most_recent.notes }}</p>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        This encampment has never been visited
        {% endif %}
        {% endwith %}
        <br/>
        <div class="previous visits">
            {% for visit in visits|slice:"1:" %}
            {% if forloop.first %}
            <div class="visits-header">
                Previous Visits
            </div>
            {% endif %}
            <div class="visits-content">
                <div class="previous-visit">
                    <div class="date">{{ visit.date }}</div>
                    <div class="spacer"></div>
                    <div class="date-ago">{{ visit.date | ago }}</div>
                    <div class="spacer"></div>
                    <div class="performed-by">{{ visit.performed_by }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="tasks">
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

            <div id="app" class="show-on-desktop">
                <div class="task-header">
                    <div class="task-title">Tasks</div>
                    <div class="task-toggle open" v-if="open" v-on:click="toggle">
                        - Add
                    </div>
                    <div class="task-toggle closed" v-else v-on:click="toggle">
                        + Add
                    </div>
                </div>
                <div class="form" v-if="open">
                    <form method="post" action="{% url 'task-create' %}">
                        {% csrf_token %}
                        {{ task_form.as_p }}
                        <div class="form-buttons">
                            <input type="submit" value="Save new task">
                            <div v-on:click="toggle">Cancel</div>
                        </div>
                    </form>
                </div>

            </div>

            <script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
          open: false,
      },
      methods: {
          toggle: function() {
              this.open = !this.open;
          }
      }
    });

            </script>
            {% for task in open_tasks|slice:":3" %}
            <div class="task open">
                <div class="task-icon tick show-on-desktop">{% svg 'tick' %}</div>
                <div class="task-info">
                    <div class="title">{{ task.title }}</div>
                    <p>{{ task.details }}</p>
                    {% if user.is_staff %}
                    <form method="post" action="{% url 'task-complete' pk=task.id %}">
                        {% csrf_token %}
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <input type="submit" class="button button-small" value="Mark completed">
                            <div class="show-on-desktop">{{ task.created_at | ago }}</div>
                        </div>
                        <!-- todo: do we want to show something different if the user isn't staff? -->
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <details class="task-summary show-on-desktop" open>
                <summary class="task-title">
                    {{ completed_tasks | length }} Completed Task{{ completed_tasks | pluralize }}
                </summary>

                {% for task in completed_tasks %}
                    <div class="task closed">
                        <div class="task-icon tick show-on-desktop">{% svg 'tick' %}</div>
                        <div class="task-info">
                            <div class="title">{{ task.title }}</div>
                            <p>{{ task.details }}</p>
                        </div>
                    </div>
                {% endfor %}
            </details>
        </div>

    </div>


    {% endblock %}
