{% extends "reporting/reporting_base.html" %}
{% block content %}
{{ form.media }}

<div class="container">

<fieldset class="fieldset">
    <div class="field">
      <div class="field-label">
        <label>This is for this field</label>
        <span class="field-instructions">Tents, vehicles, structures, etc.</span>
      </div>
      <input class="field-input" type="text" placeholder="Enter details">
    </div>
    <div class="field">
      <label>This is for this field</label>
      <input type="text" class="field-input" placeholder="Enter details">
    </div>
    <div class="field">
      <label>This is for this field with a really long label</label>
      <input type="text" class="field-input" placeholder="Enter details">
    </div>
</fieldset>

<fieldset class="fieldset">
    <div class="field">
      <label>Text Field</label>
      <input class="field-input" type="text" placeholder="Enter details">
    </div>
    <div class="field">
      <label>Number field</label>
      <input type="number" min="0" class="field-number" placeholder="Enter details">
    </div>
    <div class="field">
      <label>Date Field</label>
      <input type="date" min="2018-01-01" class="field-date" placeholder="YYYY-MM-DD">
    </div>
</fieldset>
<fieldset class="fieldset">
    <div class="field">
      <label>This is for this field</label>
      <textarea class="field-textarea" rows="3" type="text" placeholder="Enter details"></textarea>
    </div>
    <div class="field">
      <label>This is for this field</label>
      <textarea class="field-textarea" rows="3" type="text" placeholder="Enter details"></textarea>
    </div>
    <div class="field">
      <label>This is for this field</label>
      <div class="field-select-wrapper">
      <select class="field-select">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>

      </select>
      </div>
    </div>
</fieldset>
</div>

<style>
#id_recorded_location_div_map {
  display: none;
  width: 100%;
  overflow: hidden;
}
</style>
<form method="post">{% csrf_token %}
    <!--{{ form.as_p }}-->
    {% csrf_token %}
    <fieldset class="fieldset">
        <div class="field">
            {{ form.encampment.errors }}
            {{ form.encampment.label_tag }}
            <div class="field-select-wrapper">
                {{ form.encampment }}
            </div>
        </div>
        <div class="field">
            {{ form.date.errors }}
            {{ form.date.label_tag }}
            {{ form.date }}
        </div>
        <div class="field">
            {{ form.performed_by.errors }}
            {{ form.performed_by.label_tag }}
            <div class="field-select-wrapper">
                {{ form.performed_by }}
            </div>
        </div>
    </fieldset>
    <input style="margin-top: 20px" type="submit" class="button" value="Schedule">
</form>

    <input type="submit" value="Save">
</form>
{% endblock %}
